:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;

  --color-achtergrond: light-dark(#fff, #222);
  --color-tekst: light-dark(#333, #ccc);

  --color-ja: light-dark(#009e73, #009e7388);
  --color-tekst-ja: white;
  --color-onbekend: light-dark(#f0e442, #f0e442aa);
  --color-tekst-onbekend: light-dark(#333, #222);
  --color-nee: light-dark(#cc79a7, #cc79a788);
  --color-tekst-nee: white;
  --color-geen-gegevens: #eee5;
  --color-tekst-geen-gegevens: #333;

  --color-tekst-tgl-link: var(--color-tekst);

  --color-header-bottom: var(--color-tekst);

  --color-button: light-dark(#e9e9ed, #555);
  --color-button-tekst: light-dark(#555, #e9e9ed);
  --color-button-border: var(--color-tekst);
  --color-button-hover: light-dark(#ccc, #888);
  --color-button-geselecteerd: light-dark(#bbb, #333);

  --color-legenda-border-bottom:#333;
  --color-legenda-border: #aaa;

  --color-popup: light-dark(#eee, #222);
  --color-popup-tekst: var(--color-tekst);
  --color-popup-border: var(--color-tekst);

  --color-selectiebox: var(--color-achtergrond);

  --color-map-selectie-border: #999;

  --color-voortgang-lijn: light-dark(steelblue, #eee);
  --color-voortgang-as: light-dark(#aaa, #eee);;

  &:has(#theme:checked) {
    color-scheme: dark;
  }
  &:has:not(#theme:checked) {
    color-scheme: dark;
  }
}

body {
  margin: 0px;
  background-color: var(--color-achtergrond);
  color: var(--color-tekst);
}

.ol-zoom {
  display: relative;
  float: right;
  width: 30px;
}

.ol-zoom-in,
.ol-zoom-out {
  float: right;
  display: block;
  color: var(--color-tekst);
  background-color: var(--color-button);
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-top: 4px;
  cursor: pointer;
}

.ol-rotate {
  display: none;
}

.grid {
  table-layout: fixed;
  width: 100%;
  padding: 10px;
}

.grid td:first-child {
  width: 300px;
}

.row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}

@media (max-width: 756px) {
  .grid td:first-child {
    width: 50%;
  }
  .row {
    margin-bottom: 1rem;
  }
}

.yes {
  background-color: var(--color-ja);
  color: var(--color-tekst-ja);
}

.unknown {
  background-color: var(--color-onbekend);
  color: var(--color-tekst-onbekend);
}

.no {
  background-color: var(--color-nee);
  color: var(--color-tekst-nee);
}

.geen-gegevens {
  background-color: var(--color-geen-gegevens);
  color: var(--color-tekst-geen-gegevens)
}

.cell {
  height: 30px;
  text-align: center;
  line-height: 30px;
  white-space: nowrap;
}

.voortgang .lijn {
  fill: none;
  stroke: var(--color-voortgang-lijn);
  stroke-width: 3.5px;
}

.voortgang .totaal-lijn {
  fill: none;
  stroke: var(--color-voortgang-as);
}

.voortgang .as {
  fill: none;
}

.voortgang .tekst {
  fill: var(--color-tekst);
}
