:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;

  --color-achtergrond: light-dark(#fff, #222);
  --color-tekst: light-dark(#333, #ccc);

  --color-ja-1: light-dark(#00aa73, #00aa7388);
  --color-ja-2: light-dark(#009e73, #009e7388);
  --color-tekst-ja: white;
  --color-onbekend-1: light-dark(#f0e04f, #f0e44299);
  --color-onbekend-2: light-dark(#f0e442, #f0e442aa);
  --color-tekst-onbekend: light-dark(#333, #222);
  --color-nee-1: light-dark(#e079a7, #cc79a7bb);
  --color-nee-2: light-dark(#cc79a7, #cc79a788);
  --color-tekst-nee: white;
  --color-geen-gegevens: #eee5;
  --color-tekst-geen-gegevens: #333;

  --color-tekst-tgl-link: var(--color-tekst);

  --color-header-bottom: light-dark(#e6e8ec, #e6e8ec);
  --color-main: light-dark(#fafafa, #2a2a2a);

  --color-button: light-dark(#e9e9ed, #555);
  --color-button-tekst: light-dark(#555, #e9e9ed);
  --color-button-border: var(--color-button-tekst);
  --color-button-hover: light-dark(#ccc, #888);
  --color-button-geselecteerd: light-dark(#bbb, #333);

  --color-legenda-border-bottom:#333;
  --color-legenda-border: #aaa;

  --color-popup: light-dark(#eee, #222);
  --color-popup-tekst: var(--color-tekst);
  --color-popup-border: var(--color-tekst);

  --color-selectiebox: var(--color-achtergrond);

  --color-map-selectie-border: #999;

  --color-voortgang-lijn: light-dark(steelblue, #eee);
  --color-voortgang-as: light-dark(#aaa, #eee);;

  &:has(#theme:checked) {
    color-scheme: dark;
  }
  &:has:not(#theme:checked) {
    color-scheme: dark;
  }
}

body {
  margin: 0px;
  background-color: var(--color-achtergrond);
  color: var(--color-tekst);
}

select {
  color: var(--color-tekst);
  background-color: var(--color-selectiebox);
  border-radius: 5px;
  line-height: 25px;
  height: 25px;
}

.ol-zoom {
  display: relative;
  float: right;
  width: 30px;
}

.ol-zoom-in,
.ol-zoom-out {
  float: right;
  display: block;
  color: var(--color-tekst);
  background-color: var(--color-button);
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-top: 4px;
  cursor: pointer;
}

.ol-rotate {
  display: none;
}

.grid {
  table-layout: fixed;
  border-collapse: collapse;
  width: calc(100vw - 20px);
  margin: 10px;
}

.grid td:first-child {
  width: 300px;
}

.row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}

@media (max-width: 756px) {
  .grid td:first-child {
    width: 50%;
  }
  .row {
    margin-bottom: 1rem;
  }
}

.yes {
  background: linear-gradient(90deg, var(--color-ja-1), var(--color-ja-2));
  color: var(--color-tekst-ja);
}

.unknown {
  background: linear-gradient(90deg, var(--color-onbekend-1), var(--color-onbekend-2));
  color: var(--color-tekst-onbekend);
}

.no {
  background: linear-gradient(90deg, var(--color-nee-1), var(--color-nee-2));
  color: var(--color-tekst-nee);
}

.geen-gegevens {
  background-color: var(--color-geen-gegevens);
  color: var(--color-tekst-geen-gegevens)
}

.cell {
  height: 30px;
  text-align: center;
  line-height: 30px;
  white-space: nowrap;
}

.voortgang .lijn {
  fill: none;
  stroke: var(--color-voortgang-lijn);
  stroke-width: 3.5px;
}

.voortgang .totaal-lijn {
  fill: none;
  stroke: var(--color-voortgang-as);
}

.voortgang .as {
  fill: none;
}

.voortgang .tekst {
  fill: var(--color-tekst);
}

a {
  text-decoration: underline;
}

a .cat-link {
  color: var(--color-tekst-tgl-link);
  -webkit-appearance: none;
  appearance: none;
}

.cat-link::before {
  content: "▢";
  line-height: 20px;
}

a .cat-link:link,
a .cat-link:visited {
  text-decoration: none;
}

a:hover, .cat-link + label:hover,
a:active, .cat-link + label:active {
  text-decoration: underline;
  cursor: pointer;
}

.tabel th, .tabel td {
  border: 1px solid var(--color-tekst);
  margin: 0px;
}
.grid tr:nth-child(odd) {
  background-color: var(--color-button);
}

.totaal-tekst {
  line-height: 30px;
  height: 30px;
  margin: 10px;
}
