:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  --color-ja: #009e73;
  --color-onbekend: #f0e442;
  --color-nee: #cc79a7;
  --color-geen-gegevens: #eee5;
  --text-color: #333;
}

body {
  margin: 0px;
}

.ol-zoom {
  display: relative;
  float: right;
  width: 30px;
}

.ol-zoom-in,
.ol-zoom-out {
  float: right;
  display: block;
  background-color: #ccc;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-top: 4px;
  cursor: pointer;
}

.ol-rotate {
  display: none;
}

.grid {
  table-layout: fixed;
  width: 100%;
  padding: 10px;
}

.grid td:first-child {
  width: 300px;
}

.row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}

@media (max-width: 756px) {
  .grid td:first-child {
    width: 50%;
  }
  .row {
    margin-bottom: 1rem;
  }
}

.yes {
  background-color: var(--color-ja);
  color: white;
}

.unknown {
  background-color: var(--color-onbekend);
  color: #333;
}

.no {
  background-color: var(--color-nee);
  color: white;
}

.geen-gegevens {
  background-color: var(--color-geen-gegevens);
  color: #333;
}

.cell {
  height: 30px;
  text-align: center;
  line-height: 30px;
  white-space: nowrap;
}
